<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
    	<param name="ConversionPattern" value="%5p %d{dd MMM yyyy HH\:mm\:ss} %X{Username} (%C.%M\:%L) %n-%m%n"/>
    </layout>
  </appender>
  
  <appender name="PlainTextAppender" class="org.apache.log4j.DailyRollingFileAppender">
  	<param name="File" value="${catalina.home}${file.separator}logs${file.separator}quartz_log${file.separator}Quartz.log" />
	<param name="DatePattern" value="'.'yyyy-MM-dd" />
  	<layout class="org.apache.log4j.PatternLayout" >
  		<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] %c:%L - %m%n" />
  	</layout>
  </appender>     

  <root>
      <level value="TRACE"/>
      <appender-ref ref="PlainTextAppender"/>
  </root>

</log4j:configuration>